.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .card {
  width: 300px;
  text-align: center;
  padding: 20px;
}

.login-page input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button.login-btn {
  width: 100%;
}

p {
  color: blue;
  cursor: pointer;
}